// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//
// #Colors
//

// #Base-Color
$color-white: #ffffff;
$color-base: #000000;
$color-grey: #666666;

$color-base-darkest: $color-base;
$color-base-darker: lighten($color-base, 20);
$color-base-dark: lighten($color-base, 40);
$color-base-light: lighten($color-base, 60);
$color-base-lighter: lighten($color-base, 80);

// Primary-Colors
$color-primary: #000000;
$color-secondary: #000000;
$color-secondary-hover: #030303;

// #Greys
$color-shade-dark: #e6e6e6;
$color-shade-light: #f8f8f8;

// #Text Colors
$color-text-light: #ffffff;

// #Slick Colors
$color-slide-background: $color-shade-light;
$color-arrow-background: $color-white;
$color-slide-text: #ff0000;

// #Primary-Color

//
// #Box-Shadow
//
$box-shadow: 0 2px 10px 0 rgba($color-primary, 0.3);

//
// #Animations
//
$animation-speed: 0.25s;
$animation-type-in: ease-in;
$animation-type-cubic: cubic-bezier(0, 0, 0.3, 1);

//
// #Fonts
//
$font-family-base: 'Segoe UI', 'SegoeUI', -apple-system, BlinkMacSystemFont, 'Roboto', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-heading: 'Playfair Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

//
// $Line-Height
//
$line-height: 1.4;

//
// $Font-Weight
//
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

//
// #Scale
//
$scale: 1.25;

//
// #Font-Size
//
$font-s: 0.75rem; // 12px
$font-m: 1rem; // 16px
$font-l: 1.125rem; // 18px

//
// #Spacing
//
$container-width: 50em; // 800px
$container-padding: 1.25em; // 20px
$space-default: $font-m; // Is dependant on $font-m and should be 1em;

//
// #Space Sizes
//
$space-xxs: $font-m / 8; // 2px
$space-xs: $font-m / 4; // 4px
$space-s: $font-m / 2; // 8px
$space-m: $font-m; // 16px
$space-l: $font-m * 2; // 32px
$space-xl: $font-m * 4; // 64px
$space-xxl: $font-m * 8; // 128px

//
// #Border-Radius Sizes
//
$border-radius-xxs: $space-xxs; // 2px
$border-radius-xs: $space-xs; // 4px
$border-radius-s: $space-s; // 8px
$border-radius-m: $space-m; // 16px
$border-radius-l: $space-l; // 32px
$border-radius-xl: $space-xl; // 64px
$border-radius-xxl: $space-xxl; // 128px

// #Icon Sizes
$icon-xxs: $space-xxs; // 2px
$icon-xs: $space-xs; // 4px
$icon-s: $space-s; // 8px
$icon-m: $space-m; // 16px
$icon-l: $space-l; // 32px
$icon-xl: $space-xl; // 64px
$icon-xxl: $space-xxl; // 128px

//
// #Media-Queries
//
$mq-xxs: 20em; // 320px
$mq-xs: 30em; // 480px
$mq-ss: 40em;  //640px
$mq-s: 48em; // 768px
$mq-m: 61.25em; // 980px
$mq-l: 80em; // 1280px
$mq-xl: 90em; // 1440px
$mq-xxl: 160em; // 2650px

//
// $Z-Index
//
$z-index-s: 1;
$z-index-m: 2;
$z-index-l: 3;
$z-index-xl: 4;

//
// Custom Sizes
//
$button-size: 2.5rem;
$container-width: 67.5rem; // 1080
$gen-size: 16.5rem; // 264px
$horizontal-space: 6.25rem;
$horizontal-foo-padding: 2.875rem;
$letter-spacing: 3px;
$map-description-width: 34rem; // 544px
$map-padding: 3rem;
$nav-unit: 6rem;
$original-img-size: 6rem;
$tags-size: 12.5rem;

//
// Slick carousel custom Sizes
//
$arrow-size: 6rem;
