// https://codepen.io/sergeysemashko/pen/jFGJD
// $max-height - max-height property value. required
// parameter to limit text in non-webkit browser.
// Be careful with overriding properties.
// Strongly recommended to include this mixin after all properties
// to prevent overriding of display property:
// .my block {
//   display: block;
//   ...
//   @include ellipsis(2em, 2);
// }
// Example of usage:
// @include ellipsis(2em, 2);

@mixin ellipsis($max-height, $lines: 2) {
    // Fallback for non-webkit browsers.
    // Fallback does not render ellipsis.
    overflow: hidden;
    max-height: $max-height;

    // Webkit solution for multiline ellipsis
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;

    // Solution for Opera
    text-overflow: -o-ellipsis-lastline;
}

// example of ellipsis mixin usage
.multiline-ellipsis {
    width: 30%;
    @include ellipsis(4rem, 4);
}
