// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

:root {
  box-sizing: border-box;
  font-size: 100%;
  line-height: $line-height;
}

//
// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//
*,
*::before,
*::after {
    box-sizing: inherit;
}

// Resets and basic body styles
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  padding-left: $horizontal-space;
  padding-right: $horizontal-space;
}
