// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'SegoeUI';
  src: url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2') format('woff2'),
       url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff') format('woff'),
       url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf') format('ttf');
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff2') format('woff2'),
       url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff')
         format('woff'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.ttf') format('ttf');
  font-weight: $font-weight-semibold;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff2') format('woff2'),
       url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff') format('woff'),
       url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.ttf') format('ttf');
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplayRegular.ttf') format('ttf');
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplayBlack.ttf') format('ttf');
  font-weight: $font-weight-black;
}
