// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'SegoeUI';
  font-style: swap;
  src: local('Segoe UI'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2')
      format('woff2'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff') format('woff'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'SegoeUI';
  font-style: swap;
  src: local('Segoe UI'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff2')
      format('woff2'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.woff') format('woff'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Light/latest.ttf') format('ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'SegoeUI';
  font-style: swap;
  src: local('Segoe UI'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff2')
      format('woff2'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.woff')
      format('woff'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semilight/latest.ttf')
      format('ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'SegoeUI';
  font-style: swap;
  src: local('Segoe UI'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff2')
      format('woff2'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff')
      format('woff'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.ttf') format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'SegoeUI';
  font-style: swap;
  src: local('Segoe UI'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff2') format('woff2'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.woff') format('woff'),
    url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/Bold/latest.ttf') format('ttf');
  font-weight: 600;
}
