//
// Basic typography style for copy text
//

body {
    color: $color-base;
    font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
form,
pre,
hr {
    margin-bottom: calc(#{$line-height} / #{$font-base});
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
