//
// Basic typography style for copy text
//

body {
    color: $color-base;
    font-family: $font-family-base;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
