// -------------------------------------------------------------
// Centered container with a max-width of 1080px
// -------------------------------------------------------------
@mixin container-centered() {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
  padding-left: $space-m;
  padding-right: $space-m;
  width: 100%;
}
