// -----------------------------------------------------------------------------
// This file contains a text-decoration-skip: ink facke Sass mixin.
// See: https://caniuse.com/#feat=text-decoration
// See also: https://css-tricks.com/almanac/properties/t/text-decoration-skip/
// -----------------------------------------------------------------------------

@mixin underline($shadow-color: #fff, $border-color: currentColor, $border-width: 1px) {
    background-position: center bottom 30%;
    background-size: 100% $border-width;
    background: linear-gradient($border-color, $border-color) no-repeat;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    text-decoration: none;
    text-shadow:
                3px 0 $shadow-color,
                2px 0 $shadow-color,
                1px 0 $shadow-color,
               -1px 0 $shadow-color,
               -2px 0 $shadow-color,
               -3px 0 $shadow-color;
    transition: color 0.1s ease-out;
}
