.grid-card {
  margin-bottom: $space-l;
  width: 100%;

  @media (min-width: $mq-s) {
    width: 49%;
  }

  @media (min-width: $mq-l) {
    width: 32%;
  }

  @media (min-width: $mq-xl) {
    width: 24%;
  }

  &__img {
    background-color: $color-shade-light;
    height: 15rem;
    max-height: 31.25rem;
    max-width: 31.25rem;
    margin-bottom: $space-s;
    object-fit: contain;
    width: 100%;

    @media (max-width: $mq-s){
      height: 15rem;
    }
  }

  &__link {

  }

  &__title,
  &__text {
    margin-top: 0;
  }

  &__title {
    color: $color-primary;
    font-size: $font-l;
    font-weight: $font-weight-semibold;
    margin-bottom: $space-xs;
  }

  &__text {
    color: $color-primary;
    margin-bottom: 0;
  }
}
