.search {
  box-shadow: $box-shadow;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;

  @include main-content_responsive();

  &__content {
    display: flex;
    padding-bottom: 6rem;
    padding-left: $space-l;
    padding-right: $space-l;
    padding-top: $space-l;
    
    @media (max-width: $mq-m){
      padding-left: $space-l;
      padding-right: $space-l;
    }
  }

  &__input {
    background-color: $color-shade-light;
    background-image: url('./images/icon-search.svg');
    background-position: 1.5625rem;
    background-repeat: no-repeat;
    background-size: 2.5rem;
    border: 0;
    height: 5rem;
    padding-left: 5rem;
    width: 100%;

    @media (max-width: $mq-s) {
      height: 4rem;
    }

    &::-webkit-input-placeholder {
      color: $color-primary;
      font-size: $font-l;
      opacity: 0.8;
    }
    &::-moz-placeholder {
      color: $color-primary;
      font-size: $font-l;
      opacity: 0.8;
    }
    &:-ms-input-placeholder {
      color: $color-primary;
      font-size: $font-l;
      opacity: 0.8;
    }

    &:-moz-placeholder {
      color: $color-primary;
      font-size: $font-l;
      opacity: 0.8;
    }
  }

  &__row {
    display: flex;
    margin-left: $space-s;
    margin-bottom: $space-s;
  }

  &__row_category {
    display: flex;
    margin-bottom: $space-s;
    margin-top: $space-m;
  }

  &__checkbox {
    margin-top: $space-s;
    margin-right: $space-s;
  }

  &__label {
    display: block;
    max-width: $tags-size;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }

  &__tags {
    margin-right: $space-l;
    max-width: 15rem;

    @media (max-width: $mq-s){
      margin-right: $space-l;
      max-width: 25vw;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - #{$space-l} - 15rem);

    @media (max-width: $mq-s){
      width: calc(100% - #{$space-l} - 5rem);
    }
  }
}
