numpy==1.14.3
pandas==0.22.0
Keras==2.1.6
Pillow==5.3.0
azure_common==1.1.16
scikit_learn==0.19.1
click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==3.0.1
tensorflow
flask-cors
annoy
