// -----------------------------------------------------------------------------
// This file contains styles that are specific to the map page.
// -----------------------------------------------------------------------------

.map {
  box-shadow: $box-shadow;
  margin-bottom: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;

  @include main-content_responsive();

  &__header {
    font-weight: $font-weight-semibold;
    letter-spacing: 3.43px;
  }

  &__tab {
    background-color: $color-shade-light;
    border: none;
    color: $color-primary;
    display: inline-block;
    padding: $space-m $space-l;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    // width: 7.75rem;

    @media (max-width: $mq-xs)
    {
      width: 7.75rem;
    }

    &:hover {
      cursor: pointer;
    }

    &.is-active {
      background-color: $color-secondary;
      color: $color-text-light;
    }
  }

  &__box {
    padding-top: $space-xl;
    padding-bottom: 6rem;
    padding-left: $space-xl;
    padding-right: $space-xl;

    @media (max-width: $mq-s){
      padding-left: $space-l;
      padding-right: $space-l;
    }
  }

  &__data {
    border-bottom: 1px solid $color-shade-dark;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    @media (max-width: $mq-s){
      justify-content: space-between;
    }
  }

  .claim {
    text-transform: uppercase;

    @media (max-width: $mq-xs){
      width: auto;
    }
  }

  &__description {
    color: $color-primary;
    font-size: $font-l;
    line-height: 1.78;
    margin-top: 0;
    margin-right: $space-l;
    margin-bottom: 3rem;
    width: calc(70% - #{$space-l});

    > p {
      margin-top: 0;
    }

    @media (max-width: $mq-s){
      width: 100%;
      margin-right: 0px;
    }
  }

  &__result {
    display: flex;
  }

  &__result-header {
    background-color: $color-primary;
    color: white;
    text-align: center;
  }

  &__plot {
    width: calc(100% - #{$space-l} - #{$gen-size});

    @media (max-width: $mq-s){
      order: 4;
      width: 100%;
    }
  }

  &__plot-header {
    background-color: $color-white;
    border: 1px $color-primary solid;
    color: $color-primary;
    margin-bottom: 1.5rem;
    padding-bottom: $space-xs;
    padding-top: $space-xs;
    text-align: center;
  }

  &__plot-graph {
    border-collapse: collapse;
    height: 28.125rem;
    margin: 0;
    pad: 0;
    padding: 0;
    width: 100%;
  }
}
