// -----------------------------------------------------------------------------
// This file contains styles that are specific to the map page.
// -----------------------------------------------------------------------------

.map {
  box-shadow: $box-shadow;
  margin-bottom: 4.5rem;
  width: $container-width;

  @include container-centered();

  &__header {
    font-weight: $font-weight-semibold;
    letter-spacing: 3.43px;
  }

  &__tab {
    background-color: $color-shade-light;
    border: none;
    color: $color-primary;
    display: inline-block;
    padding: $space-m;
    text-align: center;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    &.is-active {
      background-color: $color-secondary;
      color: $color-text-light;
    }
  }

  &__box {
    height: 54.375rem; // Do not change, we need a fixed height fo make the box-shadow transparency work

    .map__content {
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 80%);
      margin-left: calc(#{$space-m} * -1);
      margin-right: calc(#{$space-m} * -1);
      padding-top: $map-padding;
      padding-bottom: $map-padding;
      padding-left: calc(#{$map-padding} + #{$space-m});
      padding-right: calc(#{$map-padding} + #{$space-m});
      height: 55rem; // Do not change, we need a fixed height fo make the box-shadow transparency work
    }
  }

  &__data {
    border-bottom: 1px solid $color-shade-light;
    display: flex;
    margin-bottom: 3rem;
  }

  .claim {
    text-transform: uppercase;
  }

  &__description {
    color: $color-primary;
    font-size: $font-l;
    line-height: 1.78;
    margin-top: 0;
    margin-right: $space-l;
    margin-bottom: 3rem;
    width: calc(70% - #{$space-l});
  }

  &__result {
    display: flex;
  }

  &__result-header {
    background-color: $color-primary;
    color: white;
    text-align: center;
  }

  &__plot {
    width: calc(100% - #{$space-l} - #{$gen-size});
  }

  &__plot-header {
    background-color: $color-primary;
    color: $color-text-light;
    padding-bottom: $space-xs;
    padding-top: $space-xs;
    text-align: center;
  }

  &__plot-graph {
    border-collapse: collapse;
    height: 28.125rem;
    margin: 0;
    pad: 0;
    padding: 0;
    width: 100%;
  }
}
