// -------------------------------------------------------------
// This file contains all styles related to the .claim component
// -------------------------------------------------------------
.claim {
  color: $color-primary;
  font-size: 2.625rem;
  font-family: $font-family-heading;
  font-weight: $font-weight-light;
  line-height: initial;
  margin-bottom: $space-m;
  margin-left: $space-xxl;
  margin-top: 0;
  position: relative;
  width: 400px;

  &:before {
    background-color: $color-secondary;
    content: '';
    height: 2px;
    position: absolute;
    top: calc(#{$space-s} * -1);
    width: 48px;
  }
}
