.explore {
  width: 100%;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 5.5rem;

    @media (max-width: $mq-l){
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $mq-s){
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: $mq-ss){
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $mq-xs){
      grid-template-columns: repeat(2, 1fr);
    }

    // Overrides PaletteBox.jsx styles
    .ldbqQH {
      margin: 0;
      height: auto;
      width: auto;
      z-index: 99;
    }

    // Overrides PaletteBox.jsx styles
    .iznKJF {
      margin-bottom: -70px;
      margin-left: 0;
    }

    // Overrides PaletteBox.jsx BUTTON styles
    .StyledButton-sc-323bzc-0 {
      align-items: center;
      background-color: $color-shade-light;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      height: $button-size;
      width: $button-size;
    }
  }

  .dZUveh {
    padding: 0;
  }
}
