// ---------------------------------------------------------------
// This file contains all styles related to the .gen-art component
// ---------------------------------------------------------------
.gen-art {
  margin-right: $space-l;
  position: relative;
  width: $gen-size;

  &__loader {
    align-items: center;
    background-color: $color-shade-light;
    display: flex;
    justify-content: center;
    height: $gen-size;
    margin-bottom: $space-m;
    position: relative;
    width: $gen-size;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      z-index: $z-index-s !important;
    }
  }

  &__share{
    display: flex;
    justify-content: center;

    .SocialMediaShareButton{
      margin-left: .5em;
      margin-right:.5em; 
    }
  }

  .button {
    margin-bottom: $space-m;
    width: 100%;
  }
}
