.map-explore {
  box-shadow: $box-shadow;
  margin-bottom: 4.5rem;
  width: $container-width;

  @include container-centered();

  &__header {
    font-weight: $font-weight-semibold;
    letter-spacing: 3.43px;
  }

  &__tab {
    background-color: $color-shade-light;
    border: none;
    color: $color-primary;
    padding: $space-m;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    &.is-active {
      background-color: $color-secondary;
      color: $color-text-light;
    }
  }

  &__content {
    padding: $map-padding;
  }

  &__data {
    border-bottom: 1px solid $color-shade-light;
    display: flex;
  }

  .claim {
    text-transform: uppercase;
  }

  &__description {
    color: $color-primary;
    font-size: $font-l;
    line-height: 1.78;
    margin-top: 0;
    margin-bottom: 3rem;
    // margin-right: $map-description-margin;
    flex: 7;
    padding-bottom: 1.5rem;
  }

  &__artwork-info {
    flex: 5;
  }

  &__result {
    display: flex;
  }
}

.original {
  display: flex;
  width: 30%;

  &__img {
    background-color: $color-shade-light;
    height: $original-img-size;
    margin-right: $space-m;
    object-fit: contain;
    width: $original-img-size;
  }

  &__description,
  &__data {
    margin-top: 0;
  }

  &__description {
    color: $color-primary;
    font-size: $font-m;
    font-weight: $font-weight-semibold;
    margin-bottom: $space-m;
  }

  &__data {
    display: flex;
    margin-bottom: $space-xs;
  }

  &__title,
  &__text {
    font-size: $font-s;
    color: $color-primary;
  }

  &__title {
    font-weight: $font-weight-semibold;
    margin-right: $space-xs;
  }
}
