// -------------------------------------------------------------
// This file contains all styles related to the .nav component
// -------------------------------------------------------------
.nav {
  align-items: center;
  background-color: $color-shade-light;
  display: flex;
  height: $nav-unit;
  justify-content: space-between;
  margin-bottom: $space-xl;

  &__link {
    align-items: center;
    background-color: $color-secondary;
    display: flex;
    height: inherit;
    justify-content: center;
    text-decoration: none;
    width: $nav-unit;

    span {
      color: $color-text-light;
      font-family: $font-family-heading;
      font-size: 1.25rem;
      font-weight: $font-weight-black;
      line-height: 0.9; // Magic string, do not change
      max-width: 58px; // Magic string, do not change
      width: 100%;
    }
  }

  &__button {
    align-items: center;
    border: 1px solid $color-shade-dark;
    border-radius: 1.5rem;
    color: $color-shade-medium;
    display: flex;
    height: 2.125rem;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    width: 15rem;
  }

  &__text {
    font-size: 0.75rem;
    white-space: nowrap;
  }

  &__image {
    margin-left: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
  }
}
