.original {
  display: inline;
  max-width: 30%;

  @media (max-width: $mq-s){
    order: 3;
    max-width: calc(100% - 10rem);
    flex-direction: column;
  }

  @media (max-width: $mq-xs){
    display: none;
  }

  &__img {
    background-color: $color-shade-light;
    height: $original-img-size;
    margin-right: $space-m;
    object-fit: contain;
    width: $original-img-size;

    @media (max-width: $mq-s){
      align-self: end;
      height: auto;
      max-height: 256px;
      width: auto;
    }
    @media (max-width: $mq-ss){
      max-height: 200px;
      max-width: 100%;
    }
  }

  &__description,
  &__data {
    margin-top: 0;
  }

  &__description {
    color: $color-primary;
    font-size: $font-m;
    font-weight: $font-weight-semibold;
    margin-bottom: $space-m;
  }

  &__data {
    display: flex;
    margin-bottom: $space-xs;
  }

  &__title,
  &__text {
    font-size: $font-s;
    color: $color-primary;
  }

  &__title {
    font-weight: $font-weight-semibold;
    margin-right: $space-xs;
  }

  &__header{
    color: $color-base-dark;
    font-size: $font-m;
    font-weight: $font-weight-semibold;
    margin-bottom: .5rem;

    @media (max-width: $mq-s){
      font-size: $font-l;
    }
  }

  &__container{
    display: flex;
    flex-direction: row;

    @media (max-width: $mq-s){
      flex-direction: column;
    }
  }
}
