// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  font-size: $font-s;
  padding: $space-m;
  width: 100%;

  &__description {
    font-weight: $font-weight-semibold;
    margin-top: initial;

    span {
      margin-right: $space-xxs;
    }
  }

  &__divider {
    background-color: $color-shade-dark;
    height: 1px;
    margin-bottom: $space-m;
  }

  &__links {
    @media (min-width: $mq-s) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__link {
    color: $color-primary;
    display: block;
    font-weight: $font-weight-semibold;
    margin-right: $space-m;
    text-decoration: none;
    white-space: nowrap;

    @media (min-width: 33.75em) {
      display: initial;
    }

    &:hover {
      text-decoration: underline;
    }

    &--strong {
      color: $color-secondary;
      font-weight: $font-weight-semibold;
      margin-left: $space-xs;
      white-space: nowrap;
    }
  }

  &__lang {
    align-items: center;
    color: $color-secondary-hover;
    display: flex;
    margin-bottom: $space-s;
    white-space: nowrap;

    @media (min-width: $mq-s) {
      margin-bottom: initial;
    }

    span {
      font-weight: $font-weight-semibold;
    }
  }

  &__image {
    margin-right: $space-s;
    height: $icon-m;
    width: $icon-m;
  }

  &__text {
    font-weight: $font-weight-semibold;
    white-space: nowrap;
  }
}
