.selectpage {
  &__head {
    display: flex;
    height: 94px;
    justify-content: space-between;
  }

  &__claim {
    color: $color-primary;
    font-size: 2.625rem;
    font-family: $font-family-heading;
    font-weight: $font-weight-light;
    line-height: initial;
    margin-bottom: $space-m;
    margin-left: $space-xxl;
    margin-top: 0;
    position: relative;
    width: 400px;

    &:before {
      background-color: $color-secondary;
      content: '';
      height: 2px;
      position: absolute;
      top: calc(#{$space-s} * -1);
      width: 48px;
    }
  }

  .gAXUqz {
    border-color: transparent !important;
    box-shadow: none !important;
  }

  &__head button {
    align-self: self-end;
  }

  &__head button > div {
    border: 2px solid $color-primary;
    border-radius: 0;
    width: 300px;

    input {
      border-radius: 0;
      color: $color-primary;

      &::-webkit-input-placeholder {
        // Chrome/Opera/Safari
        color: inherit;
        font-weight: $font-weight-normal;
      }

      &::-moz-placeholder {
        // Firefox 19+
        color: inherit;
        font-weight: $font-weight-normal;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        // IE 10+
        color: inherit;
        font-weight: $font-weight-normal;
      }

      &:-moz-placeholder {
        // Firefox 18-
        color: inherit;
        font-weight: $font-weight-normal;
      }
    }
  }
}
